# Ignore everything by default
*

# Allow traversing directories
!*/

# IDE metadata
.idea/

# Local experiment artifacts
wandb/

# Track Python source files only
!*.py
!*.json
!README.md

# Keep this file
!.gitignore
